<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather - Search a City
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
  <ion-card-header *ngIf = "information">
    <ion-card-title>
      {{ information.location.name }}
    </ion-card-title>
    <ion-card-subtitle>
      {{ information.location.region }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card *ngIf="information">
    <ion-card-content text-center>
      <img [src]="information.current.condition.icon" class="info-img">

      <ion-item lines="none">
        <ion-icon name="thermometer" slot="start"></ion-icon>
        <ion-label>{{ information.current.temp_f }} degrees Fehrenheit</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
